body {
  height: 100vh;
  background: black;
  display: grid;
  place-items: center;
}

.scene {
  position: relative;
  width: 90vw;
  height: 55vw;
  max-width: 1140px;
  max-height: 704px;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  height: inherit;
  max-height: inherit;
  background: repeating-linear-gradient(hotpink 0.5%, hotpink 0.8%, blue 0.9%, blue 1.3%);
  -webkit-animation: move 1s infinite linear;
          animation: move 1s infinite linear;
}

canvas {
  cursor: pointer;
}

@-webkit-keyframes move {
  to {
    background-position: 0% 1.66vh;
  }
}

@keyframes move {
  to {
    background-position: 0% 1.66vh;
  }
}
.text-container {
  position: absolute;
  top: 13%;
  right: 0;
  width: 66%;
  height: 50%;
  perspective: 40vmin;
  pointer-events: none;
}

.text {
  font-size: 15vmin;
  color: rgba(255, 255, 255, 0.66);
  opacity: 0;
  transform-style: preserve-3d;
  transform: rotateY(var(--y)) rotateZ(var(--z));
  -webkit-animation: appear 2s 1s forwards, translate 10s infinite linear;
          animation: appear 2s 1s forwards, translate 10s infinite linear;
}

@-webkit-keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes translate {
  50% {
    transform: rotateY(calc(var(--z))) rotateZ(calc(var(--y))) translateZ(3vmin);
  }
}
@keyframes translate {
  50% {
    transform: rotateY(calc(var(--z))) rotateZ(calc(var(--y))) translateZ(3vmin);
  }
}
.center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blend {
  background: yellow;
  opacity: 0.5;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.foreground-container {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  background: url(https://assets.codepen.io/25387/reality-foreground.png) no-repeat center bottom;
  background-size: contain;
  pointer-events: none;
}