* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.debug-drawer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.debug-drawer pre {
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 0;
}
.debug-drawer pre .error-line {
  background: red;
}
.debug-drawer pre .error {
  color: #d00;
  font-style: italic;
}