body {
  margin: 0;
  font-size: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  position: fixed;
  height: 100%;
}

.container {
  text-align: center;
  margin: auto;
}

input {
  margin: 1px;
  width: 25px;
  height: 25px;
}
@media (min-width: 960px) {
  input {
    width: 30px;
    height: 30px;
  }
}

.model {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
}