body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

#ui {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  transform: translate(-50%, -50%);
  transition: 100ms;
}
#ui .fire {
  position: relative;
  width: 500px;
  height: 500px;
  background: #ff9900;
  filter: blur(20px) contrast(30);
  border: 250px solid #000;
  border-bottom-color: transparent;
  border-radius: 40%;
  box-sizing: border-box;
  transform: scale(0.4, 1);
}
#ui .fire .burn {
  position: absolute;
  top: 500px;
  left: -50px;
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 100%;
}
#ui .fire .burn.heat:nth-child(1) {
  height: 6px;
}
#ui .fire .burn:nth-child(1) {
  height: 47px;
  margin-left: 35px;
  animation: burning 2434ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(2) {
  height: 2px;
}
#ui .fire .burn:nth-child(2) {
  height: 13px;
  margin-left: 174px;
  animation: burning 1254ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(3) {
  height: 6px;
}
#ui .fire .burn:nth-child(3) {
  height: 4px;
  margin-left: -148px;
  animation: burning 2493ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(4) {
  height: 2px;
}
#ui .fire .burn:nth-child(4) {
  height: 2px;
  margin-left: 96px;
  animation: burning 1393ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(5) {
  height: 4px;
}
#ui .fire .burn:nth-child(5) {
  height: 2px;
  margin-left: -200px;
  animation: burning 1623ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(6) {
  height: 5px;
}
#ui .fire .burn:nth-child(6) {
  height: 25px;
  margin-left: 54px;
  animation: burning 2949ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(7) {
  height: 10px;
}
#ui .fire .burn:nth-child(7) {
  height: 15px;
  margin-left: -100px;
  animation: burning 2775ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(8) {
  height: 2px;
}
#ui .fire .burn:nth-child(8) {
  height: 42px;
  margin-left: -78px;
  animation: burning 2673ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(9) {
  height: 3px;
}
#ui .fire .burn:nth-child(9) {
  height: 39px;
  margin-left: 140px;
  animation: burning 2802ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(10) {
  height: 3px;
}
#ui .fire .burn:nth-child(10) {
  height: 3px;
  margin-left: 183px;
  animation: burning 1771ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(11) {
  height: 8px;
}
#ui .fire .burn:nth-child(11) {
  height: 15px;
  margin-left: -186px;
  animation: burning 2764ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(12) {
  height: 3px;
}
#ui .fire .burn:nth-child(12) {
  height: 35px;
  margin-left: 125px;
  animation: burning 1932ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(13) {
  height: 5px;
}
#ui .fire .burn:nth-child(13) {
  height: 12px;
  margin-left: -181px;
  animation: burning 1436ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(14) {
  height: 6px;
}
#ui .fire .burn:nth-child(14) {
  height: 26px;
  margin-left: 213px;
  animation: burning 2456ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(15) {
  height: 4px;
}
#ui .fire .burn:nth-child(15) {
  height: 20px;
  margin-left: -171px;
  animation: burning 2625ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(16) {
  height: 3px;
}
#ui .fire .burn:nth-child(16) {
  height: 50px;
  margin-left: 73px;
  animation: burning 2994ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(17) {
  height: 7px;
}
#ui .fire .burn:nth-child(17) {
  height: 18px;
  margin-left: 61px;
  animation: burning 1650ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(18) {
  height: 3px;
}
#ui .fire .burn:nth-child(18) {
  height: 5px;
  margin-left: -98px;
  animation: burning 2498ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(19) {
  height: 10px;
}
#ui .fire .burn:nth-child(19) {
  height: 39px;
  margin-left: 50px;
  animation: burning 1533ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(20) {
  height: 5px;
}
#ui .fire .burn:nth-child(20) {
  height: 15px;
  margin-left: -26px;
  animation: burning 2049ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(21) {
  height: 1px;
}
#ui .fire .burn:nth-child(21) {
  height: 40px;
  margin-left: 71px;
  animation: burning 2592ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(22) {
  height: 2px;
}
#ui .fire .burn:nth-child(22) {
  height: 26px;
  margin-left: -5px;
  animation: burning 2097ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(23) {
  height: 8px;
}
#ui .fire .burn:nth-child(23) {
  height: 22px;
  margin-left: 82px;
  animation: burning 1737ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(24) {
  height: 3px;
}
#ui .fire .burn:nth-child(24) {
  height: 37px;
  margin-left: 81px;
  animation: burning 1378ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(25) {
  height: 8px;
}
#ui .fire .burn:nth-child(25) {
  height: 8px;
  margin-left: 12px;
  animation: burning 1522ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(26) {
  height: 1px;
}
#ui .fire .burn:nth-child(26) {
  height: 4px;
  margin-left: -67px;
  animation: burning 2399ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(27) {
  height: 6px;
}
#ui .fire .burn:nth-child(27) {
  height: 35px;
  margin-left: -123px;
  animation: burning 2428ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(28) {
  height: 7px;
}
#ui .fire .burn:nth-child(28) {
  height: 28px;
  margin-left: -46px;
  animation: burning 2068ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(29) {
  height: 10px;
}
#ui .fire .burn:nth-child(29) {
  height: 27px;
  margin-left: 222px;
  animation: burning 2089ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(30) {
  height: 6px;
}
#ui .fire .burn:nth-child(30) {
  height: 17px;
  margin-left: -222px;
  animation: burning 2381ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(31) {
  height: 3px;
}
#ui .fire .burn:nth-child(31) {
  height: 34px;
  margin-left: 94px;
  animation: burning 1188ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(32) {
  height: 3px;
}
#ui .fire .burn:nth-child(32) {
  height: 4px;
  margin-left: -84px;
  animation: burning 1032ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(33) {
  height: 8px;
}
#ui .fire .burn:nth-child(33) {
  height: 24px;
  margin-left: 140px;
  animation: burning 1975ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(34) {
  height: 6px;
}
#ui .fire .burn:nth-child(34) {
  height: 33px;
  margin-left: -27px;
  animation: burning 2095ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(35) {
  height: 5px;
}
#ui .fire .burn:nth-child(35) {
  height: 15px;
  margin-left: 37px;
  animation: burning 1514ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(36) {
  height: 9px;
}
#ui .fire .burn:nth-child(36) {
  height: 13px;
  margin-left: 182px;
  animation: burning 1869ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(37) {
  height: 3px;
}
#ui .fire .burn:nth-child(37) {
  height: 39px;
  margin-left: -62px;
  animation: burning 2159ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(38) {
  height: 8px;
}
#ui .fire .burn:nth-child(38) {
  height: 18px;
  margin-left: -94px;
  animation: burning 1595ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(39) {
  height: 1px;
}
#ui .fire .burn:nth-child(39) {
  height: 32px;
  margin-left: 190px;
  animation: burning 1616ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(40) {
  height: 6px;
}
#ui .fire .burn:nth-child(40) {
  height: 28px;
  margin-left: -60px;
  animation: burning 1794ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(41) {
  height: 10px;
}
#ui .fire .burn:nth-child(41) {
  height: 34px;
  margin-left: -41px;
  animation: burning 2227ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(42) {
  height: 6px;
}
#ui .fire .burn:nth-child(42) {
  height: 8px;
  margin-left: -60px;
  animation: burning 2976ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(43) {
  height: 1px;
}
#ui .fire .burn:nth-child(43) {
  height: 4px;
  margin-left: 246px;
  animation: burning 2058ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(44) {
  height: 9px;
}
#ui .fire .burn:nth-child(44) {
  height: 48px;
  margin-left: 36px;
  animation: burning 2956ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(45) {
  height: 4px;
}
#ui .fire .burn:nth-child(45) {
  height: 10px;
  margin-left: 64px;
  animation: burning 1402ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(46) {
  height: 6px;
}
#ui .fire .burn:nth-child(46) {
  height: 43px;
  margin-left: -203px;
  animation: burning 2879ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(47) {
  height: 4px;
}
#ui .fire .burn:nth-child(47) {
  height: 42px;
  margin-left: 222px;
  animation: burning 2401ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(48) {
  height: 7px;
}
#ui .fire .burn:nth-child(48) {
  height: 40px;
  margin-left: 226px;
  animation: burning 1103ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(49) {
  height: 2px;
}
#ui .fire .burn:nth-child(49) {
  height: 42px;
  margin-left: 112px;
  animation: burning 1049ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(50) {
  height: 4px;
}
#ui .fire .burn:nth-child(50) {
  height: 2px;
  margin-left: -182px;
  animation: burning 1553ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(51) {
  height: 1px;
}
#ui .fire .burn:nth-child(51) {
  height: 38px;
  margin-left: 57px;
  animation: burning 2141ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(52) {
  height: 1px;
}
#ui .fire .burn:nth-child(52) {
  height: 33px;
  margin-left: 91px;
  animation: burning 1588ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(53) {
  height: 5px;
}
#ui .fire .burn:nth-child(53) {
  height: 16px;
  margin-left: -191px;
  animation: burning 2691ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(54) {
  height: 8px;
}
#ui .fire .burn:nth-child(54) {
  height: 20px;
  margin-left: -104px;
  animation: burning 1625ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(55) {
  height: 4px;
}
#ui .fire .burn:nth-child(55) {
  height: 7px;
  margin-left: 166px;
  animation: burning 1834ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(56) {
  height: 7px;
}
#ui .fire .burn:nth-child(56) {
  height: 45px;
  margin-left: -41px;
  animation: burning 2250ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(57) {
  height: 6px;
}
#ui .fire .burn:nth-child(57) {
  height: 4px;
  margin-left: -26px;
  animation: burning 2132ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(58) {
  height: 9px;
}
#ui .fire .burn:nth-child(58) {
  height: 49px;
  margin-left: -127px;
  animation: burning 1196ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(59) {
  height: 10px;
}
#ui .fire .burn:nth-child(59) {
  height: 4px;
  margin-left: 8px;
  animation: burning 2864ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(60) {
  height: 6px;
}
#ui .fire .burn:nth-child(60) {
  height: 45px;
  margin-left: -101px;
  animation: burning 1333ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(61) {
  height: 6px;
}
#ui .fire .burn:nth-child(61) {
  height: 17px;
  margin-left: 158px;
  animation: burning 1472ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(62) {
  height: 4px;
}
#ui .fire .burn:nth-child(62) {
  height: 42px;
  margin-left: -84px;
  animation: burning 2222ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(63) {
  height: 9px;
}
#ui .fire .burn:nth-child(63) {
  height: 45px;
  margin-left: 9px;
  animation: burning 2843ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(64) {
  height: 2px;
}
#ui .fire .burn:nth-child(64) {
  height: 15px;
  margin-left: 27px;
  animation: burning 1778ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(65) {
  height: 1px;
}
#ui .fire .burn:nth-child(65) {
  height: 20px;
  margin-left: 198px;
  animation: burning 1747ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(66) {
  height: 1px;
}
#ui .fire .burn:nth-child(66) {
  height: 48px;
  margin-left: -53px;
  animation: burning 2171ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(67) {
  height: 9px;
}
#ui .fire .burn:nth-child(67) {
  height: 26px;
  margin-left: -24px;
  animation: burning 1216ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(68) {
  height: 9px;
}
#ui .fire .burn:nth-child(68) {
  height: 39px;
  margin-left: 184px;
  animation: burning 1314ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(69) {
  height: 2px;
}
#ui .fire .burn:nth-child(69) {
  height: 46px;
  margin-left: 164px;
  animation: burning 1504ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(70) {
  height: 5px;
}
#ui .fire .burn:nth-child(70) {
  height: 28px;
  margin-left: 148px;
  animation: burning 1298ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(71) {
  height: 7px;
}
#ui .fire .burn:nth-child(71) {
  height: 37px;
  margin-left: -115px;
  animation: burning 2726ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(72) {
  height: 9px;
}
#ui .fire .burn:nth-child(72) {
  height: 27px;
  margin-left: 118px;
  animation: burning 1641ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(73) {
  height: 9px;
}
#ui .fire .burn:nth-child(73) {
  height: 41px;
  margin-left: 150px;
  animation: burning 1640ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(74) {
  height: 6px;
}
#ui .fire .burn:nth-child(74) {
  height: 48px;
  margin-left: 4px;
  animation: burning 1078ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(75) {
  height: 8px;
}
#ui .fire .burn:nth-child(75) {
  height: 31px;
  margin-left: -79px;
  animation: burning 1936ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(76) {
  height: 9px;
}
#ui .fire .burn:nth-child(76) {
  height: 34px;
  margin-left: 212px;
  animation: burning 2202ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(77) {
  height: 1px;
}
#ui .fire .burn:nth-child(77) {
  height: 25px;
  margin-left: -106px;
  animation: burning 2488ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(78) {
  height: 8px;
}
#ui .fire .burn:nth-child(78) {
  height: 24px;
  margin-left: 169px;
  animation: burning 2112ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(79) {
  height: 10px;
}
#ui .fire .burn:nth-child(79) {
  height: 5px;
  margin-left: -143px;
  animation: burning 1340ms -3000ms infinite linear;
}
#ui .fire .burn.heat:nth-child(80) {
  height: 9px;
}
#ui .fire .burn:nth-child(80) {
  height: 46px;
  margin-left: 134px;
  animation: burning 1510ms -3000ms infinite linear;
}

@keyframes burning {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-600px);
  }
}