body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
  overflow: hidden;
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  -webkit-animation: sceneRotate 9.6s infinite alternate ease-in-out;
          animation: sceneRotate 9.6s infinite alternate ease-in-out;
}
@-webkit-keyframes sceneRotate {
  from {
    transform: rotateY(-20deg);
  }
  to {
    transform: rotateY(20deg);
  }
}
@keyframes sceneRotate {
  from {
    transform: rotateY(-20deg);
  }
  to {
    transform: rotateY(20deg);
  }
}

.row {
  position: absolute;
  left: -640px;
  top: 128px;
  width: 1280px;
  height: 64px;
  background-image: linear-gradient(90deg, #000, #0005, #000), repeating-linear-gradient(90deg, #0005 0, #0000 16px 112px, #0004 128px), linear-gradient(#915808, #c2750a 20% 75%, #613b05);
  transform-origin: center -128px;
  transform-style: preserve-3d;
  -webkit-animation: rowMoveZ 24s var(--delay, 0s) infinite ease-in, rowMoveX 72s var(--delay, 0s) var(--dir) infinite linear;
          animation: rowMoveZ 24s var(--delay, 0s) infinite ease-in, rowMoveX 72s var(--delay, 0s) var(--dir) infinite linear;
}
.row::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #000, #0005, #000), repeating-linear-gradient(90deg, #0005 0, #0000 16px 112px, #0004 128px), linear-gradient(#915808, hsl(35, 90%, var(--bLight, 50%)) 20% 75%, #794906);
  background-position-x: inherit;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.row:nth-child(even) {
  --rz: 180deg;
  --bLight: 30%;
}
.row:nth-child(1), .row:nth-child(2) {
  --delay: 0s;
  --sa: -21deg;
  --dir: normal;
}
.row:nth-child(3), .row:nth-child(4) {
  --delay: -1s;
  --sa: -18deg;
  --dir: reverse;
}
.row:nth-child(5), .row:nth-child(6) {
  --delay: -2s;
  --sa: -15deg;
  --dir: normal;
}
.row:nth-child(7), .row:nth-child(8) {
  --delay: -3s;
  --sa: -12deg;
  --dir: reverse;
}
.row:nth-child(9), .row:nth-child(10) {
  --delay: -4s;
  --sa: -9deg;
  --dir: normal;
}
.row:nth-child(11), .row:nth-child(12) {
  --delay: -5s;
  --sa: -6deg;
  --dir: reverse;
}
.row:nth-child(13), .row:nth-child(14) {
  --delay: -6s;
  --sa: -3deg;
  --dir: normal;
}
.row:nth-child(15), .row:nth-child(16) {
  --delay: -7s;
  --sa: 0deg;
  --dir: reverse;
}
.row:nth-child(17), .row:nth-child(18) {
  --delay: -8s;
  --sa: 3deg;
  --dir: normal;
}
.row:nth-child(19), .row:nth-child(20) {
  --delay: -9s;
  --sa: 6deg;
  --dir: reverse;
}
.row:nth-child(21), .row:nth-child(22) {
  --delay: -10s;
  --sa: 9deg;
  --dir: normal;
}
.row:nth-child(23), .row:nth-child(24) {
  --delay: -11s;
  --sa: 12deg;
  --dir: reverse;
}
.row:nth-child(25), .row:nth-child(26) {
  --delay: -12s;
  --sa: 15deg;
  --dir: normal;
}
.row:nth-child(27), .row:nth-child(28) {
  --delay: -13s;
  --sa: 12deg;
  --dir: reverse;
}
.row:nth-child(29), .row:nth-child(30) {
  --delay: -14s;
  --sa: 9deg;
  --dir: normal;
}
.row:nth-child(31), .row:nth-child(32) {
  --delay: -15s;
  --sa: 6deg;
  --dir: reverse;
}
.row:nth-child(33), .row:nth-child(34) {
  --delay: -16s;
  --sa: 3deg;
  --dir: normal;
}
.row:nth-child(35), .row:nth-child(36) {
  --delay: -17s;
  --sa: 0deg;
  --dir: reverse;
}
.row:nth-child(37), .row:nth-child(38) {
  --delay: -18s;
  --sa: -3deg;
  --dir: normal;
}
.row:nth-child(39), .row:nth-child(40) {
  --delay: -19s;
  --sa: -6deg;
  --dir: reverse;
}
.row:nth-child(41), .row:nth-child(42) {
  --delay: -20s;
  --sa: -9deg;
  --dir: normal;
}
.row:nth-child(43), .row:nth-child(44) {
  --delay: -21s;
  --sa: -12deg;
  --dir: reverse;
}
.row:nth-child(45), .row:nth-child(46) {
  --delay: -22s;
  --sa: -15deg;
  --dir: normal;
}
.row:nth-child(47), .row:nth-child(48) {
  --delay: -23s;
  --sa: -18deg;
  --dir: reverse;
}
@-webkit-keyframes rowMoveZ {
  from {
    transform: rotateZ(var(--rz, 0deg)) translateZ(-2500px) rotate(0deg);
  }
  to {
    transform: rotateZ(var(--rz, 0deg)) translateZ(500px) rotate(calc(var(--sa) * -1));
  }
}
@keyframes rowMoveZ {
  from {
    transform: rotateZ(var(--rz, 0deg)) translateZ(-2500px) rotate(0deg);
  }
  to {
    transform: rotateZ(var(--rz, 0deg)) translateZ(500px) rotate(calc(var(--sa) * -1));
  }
}
@-webkit-keyframes rowMoveX {
  from {
    background-position-x: 0, 0px, 0;
  }
  to {
    background-position-x: 0, 1280px, 0;
  }
}
@keyframes rowMoveX {
  from {
    background-position-x: 0, 0px, 0;
  }
  to {
    background-position-x: 0, 1280px, 0;
  }
}