@import url(https://fonts.googleapis.com/css?family=Righteous);
body{
  width:100%; 
  margin:0;
  overflow:hidden;
  background:hsla(0,0%,15%,1);
}
canvas { 
  background: hsla(0,0%,15%,1);
   left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50%);
  border: 10px solid hsla(0, 0%, 10%, 1);
  box-shadow: inset 4px 6px hsla(0, 0%, 0%, .3);
}