body {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
}

canvas.rot {
  animation: 120s linear infinite turn;
}

@keyframes turn {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}