body {
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

div {
  position: absolute;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

#earth {
  transform: rotateZ(-20deg) rotateX(10deg);
}
#earth .mantle {
  -webkit-animation: rotate 10000ms linear infinite;
          animation: rotate 10000ms linear infinite;
}
#earth .ground:nth-child(1) {
  transform: translate(-200px, -200px);
}
#earth .ground:nth-child(2) {
  transform: rotateZ(90deg) translate(-200px, -200px);
}
#earth .core {
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 200, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  box-shadow: 0 0 100px 0 rgba(255, 220, 200, 0.1);
}
#earth .core .light {
  top: calc(50% - 10px);
  left: calc(50% - 0.5px);
}
#earth .core .light_inner {
  width: 1px;
  height: 20px;
  background: white;
  border-radius: 100%;
}
#earth .core::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88%;
  height: 88%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
#earth .core::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
#earth .core:nth-child(1) {
  transform: rotateX(0deg);
}
#earth .core:nth-child(1) .light:nth-child(1) {
  transform: rotateZ(230deg);
}
#earth .core:nth-child(1) .light:nth-child(2) {
  transform: rotateZ(156deg);
}
#earth .core:nth-child(1) .light:nth-child(3) {
  transform: rotateZ(340deg);
}
#earth .core:nth-child(1) .light:nth-child(4) {
  transform: rotateZ(302deg);
}
#earth .core:nth-child(1) .light:nth-child(5) {
  transform: rotateZ(175deg);
}
#earth .core:nth-child(1) .light:nth-child(6) {
  transform: rotateZ(122deg);
}
#earth .core:nth-child(1) .light:nth-child(7) {
  transform: rotateZ(81deg);
}
#earth .core:nth-child(1) .light:nth-child(8) {
  transform: rotateZ(354deg);
}
#earth .core:nth-child(1) .light:nth-child(9) {
  transform: rotateZ(47deg);
}
#earth .core:nth-child(1) .light:nth-child(10) {
  transform: rotateZ(283deg);
}
#earth .core:nth-child(1) .light_inner {
  -webkit-animation: light 878ms -2423ms ease-in infinite;
          animation: light 878ms -2423ms ease-in infinite;
}
#earth .core:nth-child(2) {
  transform: rotateX(10deg);
}
#earth .core:nth-child(2) .light:nth-child(1) {
  transform: rotateZ(131deg);
}
#earth .core:nth-child(2) .light:nth-child(2) {
  transform: rotateZ(237deg);
}
#earth .core:nth-child(2) .light:nth-child(3) {
  transform: rotateZ(142deg);
}
#earth .core:nth-child(2) .light:nth-child(4) {
  transform: rotateZ(156deg);
}
#earth .core:nth-child(2) .light:nth-child(5) {
  transform: rotateZ(81deg);
}
#earth .core:nth-child(2) .light:nth-child(6) {
  transform: rotateZ(349deg);
}
#earth .core:nth-child(2) .light:nth-child(7) {
  transform: rotateZ(170deg);
}
#earth .core:nth-child(2) .light:nth-child(8) {
  transform: rotateZ(86deg);
}
#earth .core:nth-child(2) .light:nth-child(9) {
  transform: rotateZ(95deg);
}
#earth .core:nth-child(2) .light:nth-child(10) {
  transform: rotateZ(331deg);
}
#earth .core:nth-child(2) .light_inner {
  -webkit-animation: light 1804ms -1038ms ease-in infinite;
          animation: light 1804ms -1038ms ease-in infinite;
}
#earth .core:nth-child(3) {
  transform: rotateX(20deg);
}
#earth .core:nth-child(3) .light:nth-child(1) {
  transform: rotateZ(3deg);
}
#earth .core:nth-child(3) .light:nth-child(2) {
  transform: rotateZ(180deg);
}
#earth .core:nth-child(3) .light:nth-child(3) {
  transform: rotateZ(23deg);
}
#earth .core:nth-child(3) .light:nth-child(4) {
  transform: rotateZ(11deg);
}
#earth .core:nth-child(3) .light:nth-child(5) {
  transform: rotateZ(4deg);
}
#earth .core:nth-child(3) .light:nth-child(6) {
  transform: rotateZ(155deg);
}
#earth .core:nth-child(3) .light:nth-child(7) {
  transform: rotateZ(158deg);
}
#earth .core:nth-child(3) .light:nth-child(8) {
  transform: rotateZ(179deg);
}
#earth .core:nth-child(3) .light:nth-child(9) {
  transform: rotateZ(111deg);
}
#earth .core:nth-child(3) .light:nth-child(10) {
  transform: rotateZ(148deg);
}
#earth .core:nth-child(3) .light_inner {
  -webkit-animation: light 1030ms -493ms ease-in infinite;
          animation: light 1030ms -493ms ease-in infinite;
}
#earth .core:nth-child(4) {
  transform: rotateX(30deg);
}
#earth .core:nth-child(4) .light:nth-child(1) {
  transform: rotateZ(129deg);
}
#earth .core:nth-child(4) .light:nth-child(2) {
  transform: rotateZ(342deg);
}
#earth .core:nth-child(4) .light:nth-child(3) {
  transform: rotateZ(358deg);
}
#earth .core:nth-child(4) .light:nth-child(4) {
  transform: rotateZ(39deg);
}
#earth .core:nth-child(4) .light:nth-child(5) {
  transform: rotateZ(115deg);
}
#earth .core:nth-child(4) .light:nth-child(6) {
  transform: rotateZ(40deg);
}
#earth .core:nth-child(4) .light:nth-child(7) {
  transform: rotateZ(193deg);
}
#earth .core:nth-child(4) .light:nth-child(8) {
  transform: rotateZ(83deg);
}
#earth .core:nth-child(4) .light:nth-child(9) {
  transform: rotateZ(306deg);
}
#earth .core:nth-child(4) .light:nth-child(10) {
  transform: rotateZ(360deg);
}
#earth .core:nth-child(4) .light_inner {
  -webkit-animation: light 2352ms -1935ms ease-in infinite;
          animation: light 2352ms -1935ms ease-in infinite;
}
#earth .core:nth-child(5) {
  transform: rotateX(40deg);
}
#earth .core:nth-child(5) .light:nth-child(1) {
  transform: rotateZ(325deg);
}
#earth .core:nth-child(5) .light:nth-child(2) {
  transform: rotateZ(95deg);
}
#earth .core:nth-child(5) .light:nth-child(3) {
  transform: rotateZ(111deg);
}
#earth .core:nth-child(5) .light:nth-child(4) {
  transform: rotateZ(141deg);
}
#earth .core:nth-child(5) .light:nth-child(5) {
  transform: rotateZ(109deg);
}
#earth .core:nth-child(5) .light:nth-child(6) {
  transform: rotateZ(2deg);
}
#earth .core:nth-child(5) .light:nth-child(7) {
  transform: rotateZ(327deg);
}
#earth .core:nth-child(5) .light:nth-child(8) {
  transform: rotateZ(146deg);
}
#earth .core:nth-child(5) .light:nth-child(9) {
  transform: rotateZ(101deg);
}
#earth .core:nth-child(5) .light:nth-child(10) {
  transform: rotateZ(272deg);
}
#earth .core:nth-child(5) .light_inner {
  -webkit-animation: light 2455ms -1811ms ease-in infinite;
          animation: light 2455ms -1811ms ease-in infinite;
}
#earth .core:nth-child(6) {
  transform: rotateX(50deg);
}
#earth .core:nth-child(6) .light:nth-child(1) {
  transform: rotateZ(280deg);
}
#earth .core:nth-child(6) .light:nth-child(2) {
  transform: rotateZ(72deg);
}
#earth .core:nth-child(6) .light:nth-child(3) {
  transform: rotateZ(129deg);
}
#earth .core:nth-child(6) .light:nth-child(4) {
  transform: rotateZ(211deg);
}
#earth .core:nth-child(6) .light:nth-child(5) {
  transform: rotateZ(321deg);
}
#earth .core:nth-child(6) .light:nth-child(6) {
  transform: rotateZ(314deg);
}
#earth .core:nth-child(6) .light:nth-child(7) {
  transform: rotateZ(165deg);
}
#earth .core:nth-child(6) .light:nth-child(8) {
  transform: rotateZ(349deg);
}
#earth .core:nth-child(6) .light:nth-child(9) {
  transform: rotateZ(124deg);
}
#earth .core:nth-child(6) .light:nth-child(10) {
  transform: rotateZ(313deg);
}
#earth .core:nth-child(6) .light_inner {
  -webkit-animation: light 1200ms -2422ms ease-in infinite;
          animation: light 1200ms -2422ms ease-in infinite;
}
#earth .core:nth-child(7) {
  transform: rotateX(60deg);
}
#earth .core:nth-child(7) .light:nth-child(1) {
  transform: rotateZ(156deg);
}
#earth .core:nth-child(7) .light:nth-child(2) {
  transform: rotateZ(183deg);
}
#earth .core:nth-child(7) .light:nth-child(3) {
  transform: rotateZ(298deg);
}
#earth .core:nth-child(7) .light:nth-child(4) {
  transform: rotateZ(77deg);
}
#earth .core:nth-child(7) .light:nth-child(5) {
  transform: rotateZ(244deg);
}
#earth .core:nth-child(7) .light:nth-child(6) {
  transform: rotateZ(307deg);
}
#earth .core:nth-child(7) .light:nth-child(7) {
  transform: rotateZ(15deg);
}
#earth .core:nth-child(7) .light:nth-child(8) {
  transform: rotateZ(150deg);
}
#earth .core:nth-child(7) .light:nth-child(9) {
  transform: rotateZ(112deg);
}
#earth .core:nth-child(7) .light:nth-child(10) {
  transform: rotateZ(259deg);
}
#earth .core:nth-child(7) .light_inner {
  -webkit-animation: light 1655ms -1133ms ease-in infinite;
          animation: light 1655ms -1133ms ease-in infinite;
}
#earth .core:nth-child(8) {
  transform: rotateX(70deg);
}
#earth .core:nth-child(8) .light:nth-child(1) {
  transform: rotateZ(271deg);
}
#earth .core:nth-child(8) .light:nth-child(2) {
  transform: rotateZ(358deg);
}
#earth .core:nth-child(8) .light:nth-child(3) {
  transform: rotateZ(261deg);
}
#earth .core:nth-child(8) .light:nth-child(4) {
  transform: rotateZ(328deg);
}
#earth .core:nth-child(8) .light:nth-child(5) {
  transform: rotateZ(181deg);
}
#earth .core:nth-child(8) .light:nth-child(6) {
  transform: rotateZ(244deg);
}
#earth .core:nth-child(8) .light:nth-child(7) {
  transform: rotateZ(278deg);
}
#earth .core:nth-child(8) .light:nth-child(8) {
  transform: rotateZ(179deg);
}
#earth .core:nth-child(8) .light:nth-child(9) {
  transform: rotateZ(217deg);
}
#earth .core:nth-child(8) .light:nth-child(10) {
  transform: rotateZ(54deg);
}
#earth .core:nth-child(8) .light_inner {
  -webkit-animation: light 2405ms -1413ms ease-in infinite;
          animation: light 2405ms -1413ms ease-in infinite;
}
#earth .core:nth-child(9) {
  transform: rotateX(80deg);
}
#earth .core:nth-child(9) .light:nth-child(1) {
  transform: rotateZ(96deg);
}
#earth .core:nth-child(9) .light:nth-child(2) {
  transform: rotateZ(322deg);
}
#earth .core:nth-child(9) .light:nth-child(3) {
  transform: rotateZ(137deg);
}
#earth .core:nth-child(9) .light:nth-child(4) {
  transform: rotateZ(318deg);
}
#earth .core:nth-child(9) .light:nth-child(5) {
  transform: rotateZ(84deg);
}
#earth .core:nth-child(9) .light:nth-child(6) {
  transform: rotateZ(293deg);
}
#earth .core:nth-child(9) .light:nth-child(7) {
  transform: rotateZ(210deg);
}
#earth .core:nth-child(9) .light:nth-child(8) {
  transform: rotateZ(36deg);
}
#earth .core:nth-child(9) .light:nth-child(9) {
  transform: rotateZ(265deg);
}
#earth .core:nth-child(9) .light:nth-child(10) {
  transform: rotateZ(262deg);
}
#earth .core:nth-child(9) .light_inner {
  -webkit-animation: light 1751ms -26ms ease-in infinite;
          animation: light 1751ms -26ms ease-in infinite;
}
#earth .core:nth-child(10) {
  transform: rotateX(90deg);
}
#earth .core:nth-child(10) .light:nth-child(1) {
  transform: rotateZ(147deg);
}
#earth .core:nth-child(10) .light:nth-child(2) {
  transform: rotateZ(223deg);
}
#earth .core:nth-child(10) .light:nth-child(3) {
  transform: rotateZ(273deg);
}
#earth .core:nth-child(10) .light:nth-child(4) {
  transform: rotateZ(209deg);
}
#earth .core:nth-child(10) .light:nth-child(5) {
  transform: rotateZ(184deg);
}
#earth .core:nth-child(10) .light:nth-child(6) {
  transform: rotateZ(57deg);
}
#earth .core:nth-child(10) .light:nth-child(7) {
  transform: rotateZ(136deg);
}
#earth .core:nth-child(10) .light:nth-child(8) {
  transform: rotateZ(112deg);
}
#earth .core:nth-child(10) .light:nth-child(9) {
  transform: rotateZ(125deg);
}
#earth .core:nth-child(10) .light:nth-child(10) {
  transform: rotateZ(258deg);
}
#earth .core:nth-child(10) .light_inner {
  -webkit-animation: light 1672ms -1289ms ease-in infinite;
          animation: light 1672ms -1289ms ease-in infinite;
}
#earth .core:nth-child(11) {
  transform: rotateX(100deg);
}
#earth .core:nth-child(11) .light:nth-child(1) {
  transform: rotateZ(131deg);
}
#earth .core:nth-child(11) .light:nth-child(2) {
  transform: rotateZ(55deg);
}
#earth .core:nth-child(11) .light:nth-child(3) {
  transform: rotateZ(255deg);
}
#earth .core:nth-child(11) .light:nth-child(4) {
  transform: rotateZ(350deg);
}
#earth .core:nth-child(11) .light:nth-child(5) {
  transform: rotateZ(336deg);
}
#earth .core:nth-child(11) .light:nth-child(6) {
  transform: rotateZ(160deg);
}
#earth .core:nth-child(11) .light:nth-child(7) {
  transform: rotateZ(64deg);
}
#earth .core:nth-child(11) .light:nth-child(8) {
  transform: rotateZ(185deg);
}
#earth .core:nth-child(11) .light:nth-child(9) {
  transform: rotateZ(360deg);
}
#earth .core:nth-child(11) .light:nth-child(10) {
  transform: rotateZ(216deg);
}
#earth .core:nth-child(11) .light_inner {
  -webkit-animation: light 1394ms -2656ms ease-in infinite;
          animation: light 1394ms -2656ms ease-in infinite;
}
#earth .core:nth-child(12) {
  transform: rotateX(110deg);
}
#earth .core:nth-child(12) .light:nth-child(1) {
  transform: rotateZ(20deg);
}
#earth .core:nth-child(12) .light:nth-child(2) {
  transform: rotateZ(303deg);
}
#earth .core:nth-child(12) .light:nth-child(3) {
  transform: rotateZ(143deg);
}
#earth .core:nth-child(12) .light:nth-child(4) {
  transform: rotateZ(40deg);
}
#earth .core:nth-child(12) .light:nth-child(5) {
  transform: rotateZ(265deg);
}
#earth .core:nth-child(12) .light:nth-child(6) {
  transform: rotateZ(309deg);
}
#earth .core:nth-child(12) .light:nth-child(7) {
  transform: rotateZ(250deg);
}
#earth .core:nth-child(12) .light:nth-child(8) {
  transform: rotateZ(306deg);
}
#earth .core:nth-child(12) .light:nth-child(9) {
  transform: rotateZ(297deg);
}
#earth .core:nth-child(12) .light:nth-child(10) {
  transform: rotateZ(253deg);
}
#earth .core:nth-child(12) .light_inner {
  -webkit-animation: light 1184ms -1870ms ease-in infinite;
          animation: light 1184ms -1870ms ease-in infinite;
}
#earth .core:nth-child(13) {
  transform: rotateX(120deg);
}
#earth .core:nth-child(13) .light:nth-child(1) {
  transform: rotateZ(54deg);
}
#earth .core:nth-child(13) .light:nth-child(2) {
  transform: rotateZ(218deg);
}
#earth .core:nth-child(13) .light:nth-child(3) {
  transform: rotateZ(321deg);
}
#earth .core:nth-child(13) .light:nth-child(4) {
  transform: rotateZ(332deg);
}
#earth .core:nth-child(13) .light:nth-child(5) {
  transform: rotateZ(296deg);
}
#earth .core:nth-child(13) .light:nth-child(6) {
  transform: rotateZ(342deg);
}
#earth .core:nth-child(13) .light:nth-child(7) {
  transform: rotateZ(275deg);
}
#earth .core:nth-child(13) .light:nth-child(8) {
  transform: rotateZ(163deg);
}
#earth .core:nth-child(13) .light:nth-child(9) {
  transform: rotateZ(44deg);
}
#earth .core:nth-child(13) .light:nth-child(10) {
  transform: rotateZ(78deg);
}
#earth .core:nth-child(13) .light_inner {
  -webkit-animation: light 1248ms -1711ms ease-in infinite;
          animation: light 1248ms -1711ms ease-in infinite;
}
#earth .core:nth-child(14) {
  transform: rotateX(130deg);
}
#earth .core:nth-child(14) .light:nth-child(1) {
  transform: rotateZ(135deg);
}
#earth .core:nth-child(14) .light:nth-child(2) {
  transform: rotateZ(348deg);
}
#earth .core:nth-child(14) .light:nth-child(3) {
  transform: rotateZ(299deg);
}
#earth .core:nth-child(14) .light:nth-child(4) {
  transform: rotateZ(224deg);
}
#earth .core:nth-child(14) .light:nth-child(5) {
  transform: rotateZ(23deg);
}
#earth .core:nth-child(14) .light:nth-child(6) {
  transform: rotateZ(87deg);
}
#earth .core:nth-child(14) .light:nth-child(7) {
  transform: rotateZ(181deg);
}
#earth .core:nth-child(14) .light:nth-child(8) {
  transform: rotateZ(98deg);
}
#earth .core:nth-child(14) .light:nth-child(9) {
  transform: rotateZ(196deg);
}
#earth .core:nth-child(14) .light:nth-child(10) {
  transform: rotateZ(282deg);
}
#earth .core:nth-child(14) .light_inner {
  -webkit-animation: light 2600ms -2320ms ease-in infinite;
          animation: light 2600ms -2320ms ease-in infinite;
}
#earth .core:nth-child(15) {
  transform: rotateX(140deg);
}
#earth .core:nth-child(15) .light:nth-child(1) {
  transform: rotateZ(141deg);
}
#earth .core:nth-child(15) .light:nth-child(2) {
  transform: rotateZ(166deg);
}
#earth .core:nth-child(15) .light:nth-child(3) {
  transform: rotateZ(341deg);
}
#earth .core:nth-child(15) .light:nth-child(4) {
  transform: rotateZ(132deg);
}
#earth .core:nth-child(15) .light:nth-child(5) {
  transform: rotateZ(293deg);
}
#earth .core:nth-child(15) .light:nth-child(6) {
  transform: rotateZ(43deg);
}
#earth .core:nth-child(15) .light:nth-child(7) {
  transform: rotateZ(1deg);
}
#earth .core:nth-child(15) .light:nth-child(8) {
  transform: rotateZ(109deg);
}
#earth .core:nth-child(15) .light:nth-child(9) {
  transform: rotateZ(217deg);
}
#earth .core:nth-child(15) .light:nth-child(10) {
  transform: rotateZ(154deg);
}
#earth .core:nth-child(15) .light_inner {
  -webkit-animation: light 1590ms -430ms ease-in infinite;
          animation: light 1590ms -430ms ease-in infinite;
}
#earth .core:nth-child(16) {
  transform: rotateX(150deg);
}
#earth .core:nth-child(16) .light:nth-child(1) {
  transform: rotateZ(302deg);
}
#earth .core:nth-child(16) .light:nth-child(2) {
  transform: rotateZ(253deg);
}
#earth .core:nth-child(16) .light:nth-child(3) {
  transform: rotateZ(130deg);
}
#earth .core:nth-child(16) .light:nth-child(4) {
  transform: rotateZ(59deg);
}
#earth .core:nth-child(16) .light:nth-child(5) {
  transform: rotateZ(239deg);
}
#earth .core:nth-child(16) .light:nth-child(6) {
  transform: rotateZ(38deg);
}
#earth .core:nth-child(16) .light:nth-child(7) {
  transform: rotateZ(110deg);
}
#earth .core:nth-child(16) .light:nth-child(8) {
  transform: rotateZ(191deg);
}
#earth .core:nth-child(16) .light:nth-child(9) {
  transform: rotateZ(266deg);
}
#earth .core:nth-child(16) .light:nth-child(10) {
  transform: rotateZ(228deg);
}
#earth .core:nth-child(16) .light_inner {
  -webkit-animation: light 1062ms -1624ms ease-in infinite;
          animation: light 1062ms -1624ms ease-in infinite;
}
#earth .core:nth-child(17) {
  transform: rotateX(160deg);
}
#earth .core:nth-child(17) .light:nth-child(1) {
  transform: rotateZ(139deg);
}
#earth .core:nth-child(17) .light:nth-child(2) {
  transform: rotateZ(317deg);
}
#earth .core:nth-child(17) .light:nth-child(3) {
  transform: rotateZ(74deg);
}
#earth .core:nth-child(17) .light:nth-child(4) {
  transform: rotateZ(30deg);
}
#earth .core:nth-child(17) .light:nth-child(5) {
  transform: rotateZ(101deg);
}
#earth .core:nth-child(17) .light:nth-child(6) {
  transform: rotateZ(254deg);
}
#earth .core:nth-child(17) .light:nth-child(7) {
  transform: rotateZ(186deg);
}
#earth .core:nth-child(17) .light:nth-child(8) {
  transform: rotateZ(14deg);
}
#earth .core:nth-child(17) .light:nth-child(9) {
  transform: rotateZ(227deg);
}
#earth .core:nth-child(17) .light:nth-child(10) {
  transform: rotateZ(259deg);
}
#earth .core:nth-child(17) .light_inner {
  -webkit-animation: light 2261ms -2774ms ease-in infinite;
          animation: light 2261ms -2774ms ease-in infinite;
}
#earth .core:nth-child(18) {
  transform: rotateX(170deg);
}
#earth .core:nth-child(18) .light:nth-child(1) {
  transform: rotateZ(237deg);
}
#earth .core:nth-child(18) .light:nth-child(2) {
  transform: rotateZ(136deg);
}
#earth .core:nth-child(18) .light:nth-child(3) {
  transform: rotateZ(161deg);
}
#earth .core:nth-child(18) .light:nth-child(4) {
  transform: rotateZ(182deg);
}
#earth .core:nth-child(18) .light:nth-child(5) {
  transform: rotateZ(136deg);
}
#earth .core:nth-child(18) .light:nth-child(6) {
  transform: rotateZ(266deg);
}
#earth .core:nth-child(18) .light:nth-child(7) {
  transform: rotateZ(348deg);
}
#earth .core:nth-child(18) .light:nth-child(8) {
  transform: rotateZ(23deg);
}
#earth .core:nth-child(18) .light:nth-child(9) {
  transform: rotateZ(103deg);
}
#earth .core:nth-child(18) .light:nth-child(10) {
  transform: rotateZ(178deg);
}
#earth .core:nth-child(18) .light_inner {
  -webkit-animation: light 1128ms -1649ms ease-in infinite;
          animation: light 1128ms -1649ms ease-in infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes light {
  100% {
    transform: translateY(0);
    opacity: 1.5;
  }
  0% {
    transform: translateY(333.3333333333px);
    opacity: 0;
  }
}
@keyframes light {
  100% {
    transform: translateY(0);
    opacity: 1.5;
  }
  0% {
    transform: translateY(333.3333333333px);
    opacity: 0;
  }
}