ul {
  width: 3vmin;
  height: 3vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul:nth-last-of-type(5), ul:nth-of-type(0) {
  filter: opacity(0.9);
}
ul:nth-last-of-type(4), ul:nth-of-type(2) {
  filter: opacity(0.7);
}
ul:nth-last-of-type(3), ul:nth-of-type(0) {
  filter: opacity(0.5);
}
ul:nth-last-of-type(2), ul:nth-of-type(1) {
  filter: opacity(0.3);
}
ul:nth-last-of-type(1), ul:nth-of-type(0) {
  filter: opacity(0.1);
}

li {
  width: 3vmin;
  height: 3vmin;
  background: #056949;
  border-radius: 50%;
  position: absolute;
}

.hexagon li {
  border-radius: 0;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.berry {
  background-color: #d34856;
  -webkit-animation: berrified 5400ms 0s infinite alternate linear;
          animation: berrified 5400ms 0s infinite alternate linear;
}

.light {
  background-color: #d34856;
  filter: saturate(140%);
  -webkit-animation: lighted 7400ms 0s infinite steps(8);
          animation: lighted 7400ms 0s infinite steps(8);
}

.bow {
  background-color: #d32836;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #16161c;
  background: radial-gradient(circle, #16161c, #000000);
  overflow: hidden;
  perspective: 300px;
}

@-webkit-keyframes berrified {
  100% {
    filter: hue-rotate(18deg);
  }
}

@keyframes berrified {
  100% {
    filter: hue-rotate(18deg);
  }
}
@-webkit-keyframes lighted {
  100% {
    filter: saturate(140%) hue-rotate(360deg);
  }
}
@keyframes lighted {
  100% {
    filter: saturate(140%) hue-rotate(360deg);
  }
}
.checkbox-item {
  width: 5rem;
  color: silver;
  margin: 1rem;
  position: absolute;
  z-index: 10;
}

.checkbox-item input {
  position: absolute;
  opacity: 0;
}

.checkbox-item label {
  display: flex;
  text-align: center;
  justfiy-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  padding: 0.2rem;
  position: relative;
}

.checkbox-item label span {
  flex: 1;
  text-align: center;
  border: 0px solid;
  border-radius: 0.3rem;
}
.checkbox-item label span svg {
  max-width: 100%;
  fill: currentColor;
}

.checkbox-item input:checked + label::after {
  transform: translate3d(-100%, 0, 0);
}

.checkbox-item label::after {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  left: 50%;
  bottom: 0.2rem;
  background: #056949;
  content: "";
  z-index: -1;
  border-radius: 0.4rem;
  transition: transform 0.2s cubic-bezier(0.4, -0.25, 0.25, 1);
}