html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 100vw;
  height: 100vh;
}