body{
  overflow:hidden;
}

.container{
  position:absolute;
  width:290px;
  height: 290px;
  border: solid 10px black;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.corner{
  position:absolute;
  background:white;
  width:50px;
  height: 50px;
  border: solid 10px black;
  left:50%;
  top:50%;
  transform:translate(-145px,-145px);
  z-index:20;
}
.bottom-left{
  transform:translate(-145px,75px);
}
.top-right{
  transform:translate(75px,-145px);
}
.bottom-right{
  transform:translate(55px,55px);
  width:30px;
  height:30px;
  
}
.bottom-right:before{
   border:none!important;
  
}
.corner:before{
 content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 10px solid black;
  background:black
}
.box {
  background:black;
  position:absolute;
  left:50%;
  top:50%;
  width:10px;
  height:10px;
}