@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
body {
  font-family: "Major Mono Display", monospace;
  background-image: radial-gradient(circle, #000 50px, #222 1500px);
  perspective: 500px;
  overflow: hidden;
}

*:not(:empty) {
  transform-style: preserve-3d;
}

.letters {
  position: relative;
  transform: rotateX(90deg);
  width: 1px;
  height: 1px;
  background-color: lime;
}

.ring {
  position: relative;
  -webkit-animation: ringRotate 16s var(--delay, 0s) infinite alternate ease-in-out;
          animation: ringRotate 16s var(--delay, 0s) infinite alternate ease-in-out;
  transform: translateY(var(--depth, 0px)) rotateY(0deg);
  color: hsl(240, 15%, var(--light, 100%));
}
@-webkit-keyframes ringRotate {
  from {
    transform: translateY(var(--depth, 0px)) rotateY(0deg);
  }
  to {
    transform: translateY(var(--depth, 0px)) rotateY(540deg);
  }
}
@keyframes ringRotate {
  from {
    transform: translateY(var(--depth, 0px)) rotateY(0deg);
  }
  to {
    transform: translateY(var(--depth, 0px)) rotateY(540deg);
  }
}
.ring:nth-child(1) {
  --depth: 350px;
  --light: 40%;
  --delay: 0s;
}
.ring:nth-child(1) > .letter:nth-child(1) {
  --letter: "O";
}
.ring:nth-child(1) > .letter:nth-child(2) {
  --letter: "S";
}
.ring:nth-child(1) > .letter:nth-child(3) {
  --letter: "U";
}
.ring:nth-child(1) > .letter:nth-child(4) {
  --letter: "L";
}
.ring:nth-child(1) > .letter:nth-child(5) {
  --letter: "H";
}
.ring:nth-child(1) > .letter:nth-child(6) {
  --letter: "P";
}
.ring:nth-child(1) > .letter:nth-child(7) {
  --letter: "W";
}
.ring:nth-child(1) > .letter:nth-child(8) {
  --letter: "Q";
}
.ring:nth-child(1) > .letter:nth-child(9) {
  --letter: "E";
}
.ring:nth-child(1) > .letter:nth-child(10) {
  --letter: "J";
}
.ring:nth-child(1) > .letter:nth-child(11) {
  --letter: "P";
}
.ring:nth-child(1) > .letter:nth-child(12) {
  --letter: "X";
}
.ring:nth-child(1) > .letter:nth-child(13) {
  --letter: "C";
}
.ring:nth-child(1) > .letter:nth-child(14) {
  --letter: "V";
}
.ring:nth-child(1) > .letter:nth-child(15) {
  --letter: "R";
}
.ring:nth-child(1) > .letter:nth-child(16) {
  --letter: "Y";
}
.ring:nth-child(2) {
  --depth: 250px;
  --light: 38.125%;
  --delay: -0.15s;
}
.ring:nth-child(2) > .letter:nth-child(1) {
  --letter: "A";
}
.ring:nth-child(2) > .letter:nth-child(2) {
  --letter: "S";
}
.ring:nth-child(2) > .letter:nth-child(3) {
  --letter: "S";
}
.ring:nth-child(2) > .letter:nth-child(4) {
  --letter: "L";
}
.ring:nth-child(2) > .letter:nth-child(5) {
  --letter: "D";
}
.ring:nth-child(2) > .letter:nth-child(6) {
  --letter: "I";
}
.ring:nth-child(2) > .letter:nth-child(7) {
  --letter: "L";
}
.ring:nth-child(2) > .letter:nth-child(8) {
  --letter: "C";
}
.ring:nth-child(2) > .letter:nth-child(9) {
  --letter: "T";
}
.ring:nth-child(2) > .letter:nth-child(10) {
  --letter: "K";
}
.ring:nth-child(2) > .letter:nth-child(11) {
  --letter: "R";
}
.ring:nth-child(2) > .letter:nth-child(12) {
  --letter: "S";
}
.ring:nth-child(2) > .letter:nth-child(13) {
  --letter: "R";
}
.ring:nth-child(2) > .letter:nth-child(14) {
  --letter: "B";
}
.ring:nth-child(2) > .letter:nth-child(15) {
  --letter: "N";
}
.ring:nth-child(2) > .letter:nth-child(16) {
  --letter: "J";
}
.ring:nth-child(3) {
  --depth: 150px;
  --light: 36.25%;
  --delay: -0.3s;
}
.ring:nth-child(3) > .letter:nth-child(1) {
  --letter: "K";
}
.ring:nth-child(3) > .letter:nth-child(2) {
  --letter: "V";
}
.ring:nth-child(3) > .letter:nth-child(3) {
  --letter: "F";
}
.ring:nth-child(3) > .letter:nth-child(4) {
  --letter: "Y";
}
.ring:nth-child(3) > .letter:nth-child(5) {
  --letter: "O";
}
.ring:nth-child(3) > .letter:nth-child(6) {
  --letter: "F";
}
.ring:nth-child(3) > .letter:nth-child(7) {
  --letter: "W";
}
.ring:nth-child(3) > .letter:nth-child(8) {
  --letter: "J";
}
.ring:nth-child(3) > .letter:nth-child(9) {
  --letter: "D";
}
.ring:nth-child(3) > .letter:nth-child(10) {
  --letter: "W";
}
.ring:nth-child(3) > .letter:nth-child(11) {
  --letter: "E";
}
.ring:nth-child(3) > .letter:nth-child(12) {
  --letter: "O";
}
.ring:nth-child(3) > .letter:nth-child(13) {
  --letter: "N";
}
.ring:nth-child(3) > .letter:nth-child(14) {
  --letter: "Q";
}
.ring:nth-child(3) > .letter:nth-child(15) {
  --letter: "C";
}
.ring:nth-child(3) > .letter:nth-child(16) {
  --letter: "Z";
}
.ring:nth-child(4) {
  --depth: 50px;
  --light: 34.375%;
  --delay: -0.45s;
}
.ring:nth-child(4) > .letter:nth-child(1) {
  --letter: "C";
}
.ring:nth-child(4) > .letter:nth-child(2) {
  --letter: "O";
}
.ring:nth-child(4) > .letter:nth-child(3) {
  --letter: "F";
}
.ring:nth-child(4) > .letter:nth-child(4) {
  --letter: "S";
}
.ring:nth-child(4) > .letter:nth-child(5) {
  --letter: "C";
}
.ring:nth-child(4) > .letter:nth-child(6) {
  --letter: "N";
}
.ring:nth-child(4) > .letter:nth-child(7) {
  --letter: "L";
}
.ring:nth-child(4) > .letter:nth-child(8) {
  --letter: "Z";
}
.ring:nth-child(4) > .letter:nth-child(9) {
  --letter: "Z";
}
.ring:nth-child(4) > .letter:nth-child(10) {
  --letter: "A";
}
.ring:nth-child(4) > .letter:nth-child(11) {
  --letter: "C";
}
.ring:nth-child(4) > .letter:nth-child(12) {
  --letter: "C";
}
.ring:nth-child(4) > .letter:nth-child(13) {
  --letter: "U";
}
.ring:nth-child(4) > .letter:nth-child(14) {
  --letter: "C";
}
.ring:nth-child(4) > .letter:nth-child(15) {
  --letter: "B";
}
.ring:nth-child(4) > .letter:nth-child(16) {
  --letter: "N";
}
.ring:nth-child(5) {
  --depth: -50px;
  --light: 32.5%;
  --delay: -0.6s;
}
.ring:nth-child(5) > .letter:nth-child(1) {
  --letter: "J";
}
.ring:nth-child(5) > .letter:nth-child(2) {
  --letter: "R";
}
.ring:nth-child(5) > .letter:nth-child(3) {
  --letter: "V";
}
.ring:nth-child(5) > .letter:nth-child(4) {
  --letter: "W";
}
.ring:nth-child(5) > .letter:nth-child(5) {
  --letter: "A";
}
.ring:nth-child(5) > .letter:nth-child(6) {
  --letter: "Q";
}
.ring:nth-child(5) > .letter:nth-child(7) {
  --letter: "Q";
}
.ring:nth-child(5) > .letter:nth-child(8) {
  --letter: "I";
}
.ring:nth-child(5) > .letter:nth-child(9) {
  --letter: "U";
}
.ring:nth-child(5) > .letter:nth-child(10) {
  --letter: "J";
}
.ring:nth-child(5) > .letter:nth-child(11) {
  --letter: "L";
}
.ring:nth-child(5) > .letter:nth-child(12) {
  --letter: "X";
}
.ring:nth-child(5) > .letter:nth-child(13) {
  --letter: "L";
}
.ring:nth-child(5) > .letter:nth-child(14) {
  --letter: "V";
}
.ring:nth-child(5) > .letter:nth-child(15) {
  --letter: "O";
}
.ring:nth-child(5) > .letter:nth-child(16) {
  --letter: "U";
}
.ring:nth-child(6) {
  --depth: -150px;
  --light: 30.625%;
  --delay: -0.75s;
}
.ring:nth-child(6) > .letter:nth-child(1) {
  --letter: "W";
}
.ring:nth-child(6) > .letter:nth-child(2) {
  --letter: "G";
}
.ring:nth-child(6) > .letter:nth-child(3) {
  --letter: "Q";
}
.ring:nth-child(6) > .letter:nth-child(4) {
  --letter: "Y";
}
.ring:nth-child(6) > .letter:nth-child(5) {
  --letter: "V";
}
.ring:nth-child(6) > .letter:nth-child(6) {
  --letter: "U";
}
.ring:nth-child(6) > .letter:nth-child(7) {
  --letter: "Q";
}
.ring:nth-child(6) > .letter:nth-child(8) {
  --letter: "F";
}
.ring:nth-child(6) > .letter:nth-child(9) {
  --letter: "Q";
}
.ring:nth-child(6) > .letter:nth-child(10) {
  --letter: "O";
}
.ring:nth-child(6) > .letter:nth-child(11) {
  --letter: "A";
}
.ring:nth-child(6) > .letter:nth-child(12) {
  --letter: "Z";
}
.ring:nth-child(6) > .letter:nth-child(13) {
  --letter: "I";
}
.ring:nth-child(6) > .letter:nth-child(14) {
  --letter: "G";
}
.ring:nth-child(6) > .letter:nth-child(15) {
  --letter: "I";
}
.ring:nth-child(6) > .letter:nth-child(16) {
  --letter: "Y";
}
.ring:nth-child(7) {
  --depth: -250px;
  --light: 28.75%;
  --delay: -0.9s;
}
.ring:nth-child(7) > .letter:nth-child(1) {
  --letter: "K";
}
.ring:nth-child(7) > .letter:nth-child(2) {
  --letter: "Y";
}
.ring:nth-child(7) > .letter:nth-child(3) {
  --letter: "P";
}
.ring:nth-child(7) > .letter:nth-child(4) {
  --letter: "E";
}
.ring:nth-child(7) > .letter:nth-child(5) {
  --letter: "Y";
}
.ring:nth-child(7) > .letter:nth-child(6) {
  --letter: "D";
}
.ring:nth-child(7) > .letter:nth-child(7) {
  --letter: "B";
}
.ring:nth-child(7) > .letter:nth-child(8) {
  --letter: "U";
}
.ring:nth-child(7) > .letter:nth-child(9) {
  --letter: "L";
}
.ring:nth-child(7) > .letter:nth-child(10) {
  --letter: "Z";
}
.ring:nth-child(7) > .letter:nth-child(11) {
  --letter: "M";
}
.ring:nth-child(7) > .letter:nth-child(12) {
  --letter: "A";
}
.ring:nth-child(7) > .letter:nth-child(13) {
  --letter: "Z";
}
.ring:nth-child(7) > .letter:nth-child(14) {
  --letter: "U";
}
.ring:nth-child(7) > .letter:nth-child(15) {
  --letter: "X";
}
.ring:nth-child(7) > .letter:nth-child(16) {
  --letter: "D";
}
.ring:nth-child(8) {
  --depth: -350px;
  --light: 26.875%;
  --delay: -1.05s;
}
.ring:nth-child(8) > .letter:nth-child(1) {
  --letter: "S";
}
.ring:nth-child(8) > .letter:nth-child(2) {
  --letter: "V";
}
.ring:nth-child(8) > .letter:nth-child(3) {
  --letter: "U";
}
.ring:nth-child(8) > .letter:nth-child(4) {
  --letter: "I";
}
.ring:nth-child(8) > .letter:nth-child(5) {
  --letter: "A";
}
.ring:nth-child(8) > .letter:nth-child(6) {
  --letter: "F";
}
.ring:nth-child(8) > .letter:nth-child(7) {
  --letter: "K";
}
.ring:nth-child(8) > .letter:nth-child(8) {
  --letter: "V";
}
.ring:nth-child(8) > .letter:nth-child(9) {
  --letter: "O";
}
.ring:nth-child(8) > .letter:nth-child(10) {
  --letter: "H";
}
.ring:nth-child(8) > .letter:nth-child(11) {
  --letter: "M";
}
.ring:nth-child(8) > .letter:nth-child(12) {
  --letter: "S";
}
.ring:nth-child(8) > .letter:nth-child(13) {
  --letter: "P";
}
.ring:nth-child(8) > .letter:nth-child(14) {
  --letter: "M";
}
.ring:nth-child(8) > .letter:nth-child(15) {
  --letter: "B";
}
.ring:nth-child(8) > .letter:nth-child(16) {
  --letter: "X";
}
.ring:nth-child(9) {
  --depth: -450px;
  --light: 25%;
  --delay: -1.2s;
}
.ring:nth-child(9) > .letter:nth-child(1) {
  --letter: "Z";
}
.ring:nth-child(9) > .letter:nth-child(2) {
  --letter: "E";
}
.ring:nth-child(9) > .letter:nth-child(3) {
  --letter: "S";
}
.ring:nth-child(9) > .letter:nth-child(4) {
  --letter: "F";
}
.ring:nth-child(9) > .letter:nth-child(5) {
  --letter: "R";
}
.ring:nth-child(9) > .letter:nth-child(6) {
  --letter: "M";
}
.ring:nth-child(9) > .letter:nth-child(7) {
  --letter: "Y";
}
.ring:nth-child(9) > .letter:nth-child(8) {
  --letter: "E";
}
.ring:nth-child(9) > .letter:nth-child(9) {
  --letter: "B";
}
.ring:nth-child(9) > .letter:nth-child(10) {
  --letter: "L";
}
.ring:nth-child(9) > .letter:nth-child(11) {
  --letter: "P";
}
.ring:nth-child(9) > .letter:nth-child(12) {
  --letter: "D";
}
.ring:nth-child(9) > .letter:nth-child(13) {
  --letter: "K";
}
.ring:nth-child(9) > .letter:nth-child(14) {
  --letter: "R";
}
.ring:nth-child(9) > .letter:nth-child(15) {
  --letter: "B";
}
.ring:nth-child(9) > .letter:nth-child(16) {
  --letter: "P";
}
.ring:nth-child(10) {
  --depth: -550px;
  --light: 23.125%;
  --delay: -1.35s;
}
.ring:nth-child(10) > .letter:nth-child(1) {
  --letter: "P";
}
.ring:nth-child(10) > .letter:nth-child(2) {
  --letter: "D";
}
.ring:nth-child(10) > .letter:nth-child(3) {
  --letter: "P";
}
.ring:nth-child(10) > .letter:nth-child(4) {
  --letter: "D";
}
.ring:nth-child(10) > .letter:nth-child(5) {
  --letter: "N";
}
.ring:nth-child(10) > .letter:nth-child(6) {
  --letter: "U";
}
.ring:nth-child(10) > .letter:nth-child(7) {
  --letter: "T";
}
.ring:nth-child(10) > .letter:nth-child(8) {
  --letter: "K";
}
.ring:nth-child(10) > .letter:nth-child(9) {
  --letter: "W";
}
.ring:nth-child(10) > .letter:nth-child(10) {
  --letter: "L";
}
.ring:nth-child(10) > .letter:nth-child(11) {
  --letter: "X";
}
.ring:nth-child(10) > .letter:nth-child(12) {
  --letter: "Q";
}
.ring:nth-child(10) > .letter:nth-child(13) {
  --letter: "Q";
}
.ring:nth-child(10) > .letter:nth-child(14) {
  --letter: "Q";
}
.ring:nth-child(10) > .letter:nth-child(15) {
  --letter: "G";
}
.ring:nth-child(10) > .letter:nth-child(16) {
  --letter: "Y";
}
.ring:nth-child(11) {
  --depth: -650px;
  --light: 21.25%;
  --delay: -1.5s;
}
.ring:nth-child(11) > .letter:nth-child(1) {
  --letter: "E";
}
.ring:nth-child(11) > .letter:nth-child(2) {
  --letter: "S";
}
.ring:nth-child(11) > .letter:nth-child(3) {
  --letter: "V";
}
.ring:nth-child(11) > .letter:nth-child(4) {
  --letter: "W";
}
.ring:nth-child(11) > .letter:nth-child(5) {
  --letter: "T";
}
.ring:nth-child(11) > .letter:nth-child(6) {
  --letter: "Z";
}
.ring:nth-child(11) > .letter:nth-child(7) {
  --letter: "Q";
}
.ring:nth-child(11) > .letter:nth-child(8) {
  --letter: "V";
}
.ring:nth-child(11) > .letter:nth-child(9) {
  --letter: "G";
}
.ring:nth-child(11) > .letter:nth-child(10) {
  --letter: "X";
}
.ring:nth-child(11) > .letter:nth-child(11) {
  --letter: "P";
}
.ring:nth-child(11) > .letter:nth-child(12) {
  --letter: "N";
}
.ring:nth-child(11) > .letter:nth-child(13) {
  --letter: "Z";
}
.ring:nth-child(11) > .letter:nth-child(14) {
  --letter: "A";
}
.ring:nth-child(11) > .letter:nth-child(15) {
  --letter: "N";
}
.ring:nth-child(11) > .letter:nth-child(16) {
  --letter: "B";
}
.ring:nth-child(12) {
  --depth: -750px;
  --light: 19.375%;
  --delay: -1.65s;
}
.ring:nth-child(12) > .letter:nth-child(1) {
  --letter: "U";
}
.ring:nth-child(12) > .letter:nth-child(2) {
  --letter: "U";
}
.ring:nth-child(12) > .letter:nth-child(3) {
  --letter: "Y";
}
.ring:nth-child(12) > .letter:nth-child(4) {
  --letter: "D";
}
.ring:nth-child(12) > .letter:nth-child(5) {
  --letter: "B";
}
.ring:nth-child(12) > .letter:nth-child(6) {
  --letter: "U";
}
.ring:nth-child(12) > .letter:nth-child(7) {
  --letter: "P";
}
.ring:nth-child(12) > .letter:nth-child(8) {
  --letter: "Z";
}
.ring:nth-child(12) > .letter:nth-child(9) {
  --letter: "S";
}
.ring:nth-child(12) > .letter:nth-child(10) {
  --letter: "I";
}
.ring:nth-child(12) > .letter:nth-child(11) {
  --letter: "Q";
}
.ring:nth-child(12) > .letter:nth-child(12) {
  --letter: "O";
}
.ring:nth-child(12) > .letter:nth-child(13) {
  --letter: "J";
}
.ring:nth-child(12) > .letter:nth-child(14) {
  --letter: "H";
}
.ring:nth-child(12) > .letter:nth-child(15) {
  --letter: "H";
}
.ring:nth-child(12) > .letter:nth-child(16) {
  --letter: "S";
}
.ring:nth-child(13) {
  --depth: -850px;
  --light: 17.5%;
  --delay: -1.8s;
}
.ring:nth-child(13) > .letter:nth-child(1) {
  --letter: "X";
}
.ring:nth-child(13) > .letter:nth-child(2) {
  --letter: "K";
}
.ring:nth-child(13) > .letter:nth-child(3) {
  --letter: "E";
}
.ring:nth-child(13) > .letter:nth-child(4) {
  --letter: "T";
}
.ring:nth-child(13) > .letter:nth-child(5) {
  --letter: "G";
}
.ring:nth-child(13) > .letter:nth-child(6) {
  --letter: "H";
}
.ring:nth-child(13) > .letter:nth-child(7) {
  --letter: "T";
}
.ring:nth-child(13) > .letter:nth-child(8) {
  --letter: "L";
}
.ring:nth-child(13) > .letter:nth-child(9) {
  --letter: "K";
}
.ring:nth-child(13) > .letter:nth-child(10) {
  --letter: "V";
}
.ring:nth-child(13) > .letter:nth-child(11) {
  --letter: "P";
}
.ring:nth-child(13) > .letter:nth-child(12) {
  --letter: "E";
}
.ring:nth-child(13) > .letter:nth-child(13) {
  --letter: "D";
}
.ring:nth-child(13) > .letter:nth-child(14) {
  --letter: "U";
}
.ring:nth-child(13) > .letter:nth-child(15) {
  --letter: "P";
}
.ring:nth-child(13) > .letter:nth-child(16) {
  --letter: "X";
}
.ring:nth-child(14) {
  --depth: -950px;
  --light: 15.625%;
  --delay: -1.95s;
}
.ring:nth-child(14) > .letter:nth-child(1) {
  --letter: "M";
}
.ring:nth-child(14) > .letter:nth-child(2) {
  --letter: "Q";
}
.ring:nth-child(14) > .letter:nth-child(3) {
  --letter: "M";
}
.ring:nth-child(14) > .letter:nth-child(4) {
  --letter: "T";
}
.ring:nth-child(14) > .letter:nth-child(5) {
  --letter: "H";
}
.ring:nth-child(14) > .letter:nth-child(6) {
  --letter: "F";
}
.ring:nth-child(14) > .letter:nth-child(7) {
  --letter: "I";
}
.ring:nth-child(14) > .letter:nth-child(8) {
  --letter: "D";
}
.ring:nth-child(14) > .letter:nth-child(9) {
  --letter: "M";
}
.ring:nth-child(14) > .letter:nth-child(10) {
  --letter: "P";
}
.ring:nth-child(14) > .letter:nth-child(11) {
  --letter: "R";
}
.ring:nth-child(14) > .letter:nth-child(12) {
  --letter: "Q";
}
.ring:nth-child(14) > .letter:nth-child(13) {
  --letter: "E";
}
.ring:nth-child(14) > .letter:nth-child(14) {
  --letter: "L";
}
.ring:nth-child(14) > .letter:nth-child(15) {
  --letter: "V";
}
.ring:nth-child(14) > .letter:nth-child(16) {
  --letter: "J";
}
.ring:nth-child(15) {
  --depth: -1050px;
  --light: 13.75%;
  --delay: -2.1s;
}
.ring:nth-child(15) > .letter:nth-child(1) {
  --letter: "O";
}
.ring:nth-child(15) > .letter:nth-child(2) {
  --letter: "U";
}
.ring:nth-child(15) > .letter:nth-child(3) {
  --letter: "M";
}
.ring:nth-child(15) > .letter:nth-child(4) {
  --letter: "S";
}
.ring:nth-child(15) > .letter:nth-child(5) {
  --letter: "G";
}
.ring:nth-child(15) > .letter:nth-child(6) {
  --letter: "R";
}
.ring:nth-child(15) > .letter:nth-child(7) {
  --letter: "S";
}
.ring:nth-child(15) > .letter:nth-child(8) {
  --letter: "W";
}
.ring:nth-child(15) > .letter:nth-child(9) {
  --letter: "E";
}
.ring:nth-child(15) > .letter:nth-child(10) {
  --letter: "W";
}
.ring:nth-child(15) > .letter:nth-child(11) {
  --letter: "P";
}
.ring:nth-child(15) > .letter:nth-child(12) {
  --letter: "K";
}
.ring:nth-child(15) > .letter:nth-child(13) {
  --letter: "C";
}
.ring:nth-child(15) > .letter:nth-child(14) {
  --letter: "I";
}
.ring:nth-child(15) > .letter:nth-child(15) {
  --letter: "S";
}
.ring:nth-child(15) > .letter:nth-child(16) {
  --letter: "E";
}
.ring:nth-child(16) {
  --depth: -1150px;
  --light: 11.875%;
  --delay: -2.25s;
}
.ring:nth-child(16) > .letter:nth-child(1) {
  --letter: "Q";
}
.ring:nth-child(16) > .letter:nth-child(2) {
  --letter: "X";
}
.ring:nth-child(16) > .letter:nth-child(3) {
  --letter: "N";
}
.ring:nth-child(16) > .letter:nth-child(4) {
  --letter: "O";
}
.ring:nth-child(16) > .letter:nth-child(5) {
  --letter: "R";
}
.ring:nth-child(16) > .letter:nth-child(6) {
  --letter: "K";
}
.ring:nth-child(16) > .letter:nth-child(7) {
  --letter: "Q";
}
.ring:nth-child(16) > .letter:nth-child(8) {
  --letter: "I";
}
.ring:nth-child(16) > .letter:nth-child(9) {
  --letter: "U";
}
.ring:nth-child(16) > .letter:nth-child(10) {
  --letter: "X";
}
.ring:nth-child(16) > .letter:nth-child(11) {
  --letter: "Q";
}
.ring:nth-child(16) > .letter:nth-child(12) {
  --letter: "N";
}
.ring:nth-child(16) > .letter:nth-child(13) {
  --letter: "L";
}
.ring:nth-child(16) > .letter:nth-child(14) {
  --letter: "U";
}
.ring:nth-child(16) > .letter:nth-child(15) {
  --letter: "A";
}
.ring:nth-child(16) > .letter:nth-child(16) {
  --letter: "S";
}

.letter {
  position: absolute;
  -webkit-animation: letterAngle 16s -8s infinite alternate linear;
          animation: letterAngle 16s -8s infinite alternate linear;
}
@-webkit-keyframes letterAngle {
  from {
    transform: rotateY(var(--angle, 0deg)) translateZ(-200px) rotate(25deg);
  }
  to {
    transform: rotateY(var(--angle, 0deg)) translateZ(-200px) rotate(-25deg);
  }
}
@keyframes letterAngle {
  from {
    transform: rotateY(var(--angle, 0deg)) translateZ(-200px) rotate(25deg);
  }
  to {
    transform: rotateY(var(--angle, 0deg)) translateZ(-200px) rotate(-25deg);
  }
}
.letter:nth-child(1) {
  --angle: 0deg;
}
.letter:nth-child(2) {
  --angle: 22.5deg;
}
.letter:nth-child(3) {
  --angle: 45deg;
}
.letter:nth-child(4) {
  --angle: 67.5deg;
}
.letter:nth-child(5) {
  --angle: 90deg;
}
.letter:nth-child(6) {
  --angle: 112.5deg;
}
.letter:nth-child(7) {
  --angle: 135deg;
}
.letter:nth-child(8) {
  --angle: 157.5deg;
}
.letter:nth-child(9) {
  --angle: 180deg;
}
.letter:nth-child(10) {
  --angle: 202.5deg;
}
.letter:nth-child(11) {
  --angle: 225deg;
}
.letter:nth-child(12) {
  --angle: 247.5deg;
}
.letter:nth-child(13) {
  --angle: 270deg;
}
.letter:nth-child(14) {
  --angle: 292.5deg;
}
.letter:nth-child(15) {
  --angle: 315deg;
}
.letter:nth-child(16) {
  --angle: 337.5deg;
}
.letter::after {
  content: var(--letter, ".");
  position: absolute;
  font-size: 100px;
  transform: translate(-50%, -50%);
}