html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: black;
}
#block-canvas {
  position: fixed;
  top: 0;
  text-align: center;
  height: 100%;
}
.block-row {
  display: block;
  margin: 0;
  padding: 0;
}
.block {
  background-color: black;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 5.88235294vw;
  height: 5.88235294vh;
  vertical-align: top;
  border-radius: 0;
  border: solid thin black;
  box-sizing: border-box;
}