body {
  font-family: Inconsolata, sans-serif;
  overflow: hidden;
}
.overlay {
  background: transparent;
  color: white;
  position: fixed;
  text-align: right;
  width: 100vw;
}
.overlay a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}