.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16em;
  height: 16em;
  transform: translate(-50%, -50%) rotate(45deg);
}

.square {
  float: left;
  width: 50%;
  height: 50%;
  animation: rot 2s ease-out infinite;
}
.square:empty {
  background: black;
}

@keyframes rot {
  to {
    transform: rotate(90deg);
  }
}