body {
  margin: 0;
  overflow: hidden;
  background: black;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
}

.fake {
  filter: blur(6px) saturate(2);
}