body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

canvas {
  width: 70%;
  max-width: 420px;
  aspect-ratio: 1;
  border: 2px solid #fff7;
  rotate: 45deg;
}