html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.interactive-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.interactive-bg-container .bg-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}