* {
    box-sizing: border-box;
}
body {
    background-color: #242424;
}
#container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}
.box {
    display: inline-block;
    height: 4px;
    width: 4px;
    position: absolute;
   
}