body {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  border-width: 0;
}

button {
  display: block;
  z-index: 10;
  position: absolute;
  left: 1em;
  cursor: pointer;
}

#controls {
  top: 1em;
}

#setfern {
  top: 3em;
}

#setsierp {
  top: 5em;
}