body {
  color: #ffffff;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px;
  background: rgba(0,0,0,0.4);
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background: rgba(0,0,0,0.4);
}