body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
}
#list{
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: center;
}
#list div{
  background: #eeeeee;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 8px;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  box-sizing: border-box;
}