.loader {
  background: #000;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.loader-ring {
  -webkit-animation: spin 1500ms cubic-bezier(0.68, -0.75, 0.265, 1.75) infinite forwards;
          animation: spin 1500ms cubic-bezier(0.68, -0.75, 0.265, 1.75) infinite forwards;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #fff;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.loader-ring:nth-child(1) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  height: 25px;
  width: 25px;
}
.loader-ring:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  height: 50px;
  width: 50px;
}
.loader-ring:nth-child(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  height: 75px;
  width: 75px;
}
.loader-ring:nth-child(4) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  height: 100px;
  width: 100px;
}
.loader-ring:nth-child(5) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  height: 125px;
  width: 125px;
}
.loader-ring:nth-child(6) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  height: 150px;
  width: 150px;
}
.loader-ring:nth-child(7) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
  height: 175px;
  width: 175px;
}
.loader-ring:nth-child(8) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  height: 200px;
  width: 200px;
}
.loader-ring:nth-child(9) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  height: 225px;
  width: 225px;
}
.loader-ring:nth-child(10) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  height: 250px;
  width: 250px;
}
.loader-ring:nth-child(11) {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  height: 275px;
  width: 275px;
}
.loader-ring:nth-child(12) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  height: 300px;
  width: 300px;
}
.loader-ring:nth-child(13) {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  height: 325px;
  width: 325px;
}
.loader-ring:nth-child(14) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  height: 350px;
  width: 350px;
}
.loader-ring:nth-child(15) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  height: 375px;
  width: 375px;
}
.loader-ring:nth-child(16) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  height: 400px;
  width: 400px;
}
.loader-ring:nth-child(17) {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
  height: 425px;
  width: 425px;
}
.loader-ring:nth-child(18) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  height: 450px;
  width: 450px;
}
.loader-ring:nth-child(19) {
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
  height: 475px;
  width: 475px;
}
.loader-ring:nth-child(20) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  height: 500px;
  width: 500px;
}
.loader-ring:nth-child(21) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
  height: 525px;
  width: 525px;
}
.loader-ring:nth-child(22) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  height: 550px;
  width: 550px;
}
.loader-ring:nth-child(23) {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
  height: 575px;
  width: 575px;
}
.loader-ring:nth-child(24) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  height: 600px;
  width: 600px;
}
.loader-ring:nth-child(25) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
  height: 625px;
  width: 625px;
}
.loader-ring:nth-child(26) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  height: 650px;
  width: 650px;
}
.loader-ring:nth-child(27) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
  height: 675px;
  width: 675px;
}
.loader-ring:nth-child(28) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  height: 700px;
  width: 700px;
}
.loader-ring:nth-child(29) {
  -webkit-animation-delay: 1450ms;
          animation-delay: 1450ms;
  height: 725px;
  width: 725px;
}
.loader-ring:nth-child(30) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  height: 750px;
  width: 750px;
}
.loader-ring:nth-child(31) {
  -webkit-animation-delay: 1550ms;
          animation-delay: 1550ms;
  height: 775px;
  width: 775px;
}
.loader-ring:nth-child(32) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  height: 800px;
  width: 800px;
}
.loader-ring:nth-child(33) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
  height: 825px;
  width: 825px;
}
.loader-ring:nth-child(34) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
  height: 850px;
  width: 850px;
}
.loader-ring:nth-child(35) {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
  height: 875px;
  width: 875px;
}
.loader-ring:nth-child(36) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  height: 900px;
  width: 900px;
}
.loader-ring:nth-child(37) {
  -webkit-animation-delay: 1850ms;
          animation-delay: 1850ms;
  height: 925px;
  width: 925px;
}
.loader-ring:nth-child(38) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
  height: 950px;
  width: 950px;
}
.loader-ring:nth-child(39) {
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
  height: 975px;
  width: 975px;
}
.loader-ring:nth-child(40) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  height: 1000px;
  width: 1000px;
}
.loader-ring:nth-child(41) {
  -webkit-animation-delay: 2050ms;
          animation-delay: 2050ms;
  height: 1025px;
  width: 1025px;
}
.loader-ring:nth-child(42) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
  height: 1050px;
  width: 1050px;
}
.loader-ring:nth-child(43) {
  -webkit-animation-delay: 2150ms;
          animation-delay: 2150ms;
  height: 1075px;
  width: 1075px;
}
.loader-ring:nth-child(44) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
  height: 1100px;
  width: 1100px;
}
.loader-ring:nth-child(45) {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
  height: 1125px;
  width: 1125px;
}
.loader-ring:nth-child(46) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
  height: 1150px;
  width: 1150px;
}
.loader-ring:nth-child(47) {
  -webkit-animation-delay: 2350ms;
          animation-delay: 2350ms;
  height: 1175px;
  width: 1175px;
}
.loader-ring:nth-child(48) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
  height: 1200px;
  width: 1200px;
}
.loader-ring:nth-child(49) {
  -webkit-animation-delay: 2450ms;
          animation-delay: 2450ms;
  height: 1225px;
  width: 1225px;
}
.loader-ring:nth-child(50) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  height: 1250px;
  width: 1250px;
}
.loader-ring:nth-child(51) {
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
  height: 1275px;
  width: 1275px;
}
.loader-ring:nth-child(52) {
  -webkit-animation-delay: 2600ms;
          animation-delay: 2600ms;
  height: 1300px;
  width: 1300px;
}
.loader-ring:nth-child(53) {
  -webkit-animation-delay: 2650ms;
          animation-delay: 2650ms;
  height: 1325px;
  width: 1325px;
}
.loader-ring:nth-child(54) {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
  height: 1350px;
  width: 1350px;
}
.loader-ring:nth-child(55) {
  -webkit-animation-delay: 2750ms;
          animation-delay: 2750ms;
  height: 1375px;
  width: 1375px;
}
.loader-ring:nth-child(56) {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
  height: 1400px;
  width: 1400px;
}
.loader-ring:nth-child(57) {
  -webkit-animation-delay: 2850ms;
          animation-delay: 2850ms;
  height: 1425px;
  width: 1425px;
}
.loader-ring:nth-child(58) {
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms;
  height: 1450px;
  width: 1450px;
}
.loader-ring:nth-child(59) {
  -webkit-animation-delay: 2950ms;
          animation-delay: 2950ms;
  height: 1475px;
  width: 1475px;
}
.loader-ring:nth-child(60) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  height: 1500px;
  width: 1500px;
}
.loader-ring:nth-child(61) {
  -webkit-animation-delay: 3050ms;
          animation-delay: 3050ms;
  height: 1525px;
  width: 1525px;
}
.loader-ring:nth-child(62) {
  -webkit-animation-delay: 3100ms;
          animation-delay: 3100ms;
  height: 1550px;
  width: 1550px;
}
.loader-ring:nth-child(63) {
  -webkit-animation-delay: 3150ms;
          animation-delay: 3150ms;
  height: 1575px;
  width: 1575px;
}
.loader-ring:nth-child(64) {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
  height: 1600px;
  width: 1600px;
}
.loader-ring:nth-child(65) {
  -webkit-animation-delay: 3250ms;
          animation-delay: 3250ms;
  height: 1625px;
  width: 1625px;
}
.loader-ring:nth-child(66) {
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
  height: 1650px;
  width: 1650px;
}
.loader-ring:nth-child(67) {
  -webkit-animation-delay: 3350ms;
          animation-delay: 3350ms;
  height: 1675px;
  width: 1675px;
}
.loader-ring:nth-child(68) {
  -webkit-animation-delay: 3400ms;
          animation-delay: 3400ms;
  height: 1700px;
  width: 1700px;
}
.loader-ring:nth-child(69) {
  -webkit-animation-delay: 3450ms;
          animation-delay: 3450ms;
  height: 1725px;
  width: 1725px;
}
.loader-ring:nth-child(70) {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
  height: 1750px;
  width: 1750px;
}
.loader-ring:nth-child(71) {
  -webkit-animation-delay: 3550ms;
          animation-delay: 3550ms;
  height: 1775px;
  width: 1775px;
}
.loader-ring:nth-child(72) {
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
  height: 1800px;
  width: 1800px;
}
.loader-ring:nth-child(73) {
  -webkit-animation-delay: 3650ms;
          animation-delay: 3650ms;
  height: 1825px;
  width: 1825px;
}
.loader-ring:nth-child(74) {
  -webkit-animation-delay: 3700ms;
          animation-delay: 3700ms;
  height: 1850px;
  width: 1850px;
}
.loader-ring:nth-child(75) {
  -webkit-animation-delay: 3750ms;
          animation-delay: 3750ms;
  height: 1875px;
  width: 1875px;
}
.loader-ring:nth-child(76) {
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
  height: 1900px;
  width: 1900px;
}
.loader-ring:nth-child(77) {
  -webkit-animation-delay: 3850ms;
          animation-delay: 3850ms;
  height: 1925px;
  width: 1925px;
}
.loader-ring:nth-child(78) {
  -webkit-animation-delay: 3900ms;
          animation-delay: 3900ms;
  height: 1950px;
  width: 1950px;
}
.loader-ring:nth-child(79) {
  -webkit-animation-delay: 3950ms;
          animation-delay: 3950ms;
  height: 1975px;
  width: 1975px;
}
.loader-ring:nth-child(80) {
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
  height: 2000px;
  width: 2000px;
}
.loader-ring:nth-child(81) {
  -webkit-animation-delay: 4050ms;
          animation-delay: 4050ms;
  height: 2025px;
  width: 2025px;
}
.loader-ring:nth-child(82) {
  -webkit-animation-delay: 4100ms;
          animation-delay: 4100ms;
  height: 2050px;
  width: 2050px;
}
.loader-ring:nth-child(83) {
  -webkit-animation-delay: 4150ms;
          animation-delay: 4150ms;
  height: 2075px;
  width: 2075px;
}
.loader-ring:nth-child(84) {
  -webkit-animation-delay: 4200ms;
          animation-delay: 4200ms;
  height: 2100px;
  width: 2100px;
}
.loader-ring:nth-child(85) {
  -webkit-animation-delay: 4250ms;
          animation-delay: 4250ms;
  height: 2125px;
  width: 2125px;
}
.loader-ring:nth-child(86) {
  -webkit-animation-delay: 4300ms;
          animation-delay: 4300ms;
  height: 2150px;
  width: 2150px;
}
.loader-ring:nth-child(87) {
  -webkit-animation-delay: 4350ms;
          animation-delay: 4350ms;
  height: 2175px;
  width: 2175px;
}
.loader-ring:nth-child(88) {
  -webkit-animation-delay: 4400ms;
          animation-delay: 4400ms;
  height: 2200px;
  width: 2200px;
}
.loader-ring:nth-child(89) {
  -webkit-animation-delay: 4450ms;
          animation-delay: 4450ms;
  height: 2225px;
  width: 2225px;
}
.loader-ring:nth-child(90) {
  -webkit-animation-delay: 4500ms;
          animation-delay: 4500ms;
  height: 2250px;
  width: 2250px;
}
.loader-ring:nth-child(91) {
  -webkit-animation-delay: 4550ms;
          animation-delay: 4550ms;
  height: 2275px;
  width: 2275px;
}
.loader-ring:nth-child(92) {
  -webkit-animation-delay: 4600ms;
          animation-delay: 4600ms;
  height: 2300px;
  width: 2300px;
}
.loader-ring:nth-child(93) {
  -webkit-animation-delay: 4650ms;
          animation-delay: 4650ms;
  height: 2325px;
  width: 2325px;
}
.loader-ring:nth-child(94) {
  -webkit-animation-delay: 4700ms;
          animation-delay: 4700ms;
  height: 2350px;
  width: 2350px;
}
.loader-ring:nth-child(95) {
  -webkit-animation-delay: 4750ms;
          animation-delay: 4750ms;
  height: 2375px;
  width: 2375px;
}
.loader-ring:nth-child(96) {
  -webkit-animation-delay: 4800ms;
          animation-delay: 4800ms;
  height: 2400px;
  width: 2400px;
}
.loader-ring:nth-child(97) {
  -webkit-animation-delay: 4850ms;
          animation-delay: 4850ms;
  height: 2425px;
  width: 2425px;
}
.loader-ring:nth-child(98) {
  -webkit-animation-delay: 4900ms;
          animation-delay: 4900ms;
  height: 2450px;
  width: 2450px;
}
.loader-ring:nth-child(99) {
  -webkit-animation-delay: 4950ms;
          animation-delay: 4950ms;
  height: 2475px;
  width: 2475px;
}
.loader-ring:nth-child(100) {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
  height: 2500px;
  width: 2500px;
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}