body {
  margin: 0;
  color: #020505;
  background: black;
  cursor: none;
}

canvas {
  top: 0;
  z-index: -1;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header {
  top: 50%;
  left: 50%;
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.header strong {
  color: #020505;
}

p {
  color: #020505;
}

.btn {
  border-radius: 50px;
  padding: 10px 30px;
}
.btn-outline-info {
  color: black;
  border-color: black;
}

.tlevel, .blevel {
  display: none;
  height: 120px;
  background: #020505;
}

.footer {
  z-index: 10001;
  right: 1rem;
  bottom: 2rem;
  position: absolute;
}
.footer img {
  width: 2.5rem;
  transition: opacity 0.5s;
}
.footer img:hover {
  opacity: 0.5;
}

.mouse, .mouse-guide, .mouse-mid {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, border-width 0.1s, opacity 0.1s;
  transition-delay: 0.05s;
  z-index: 2;
}

.mouse {
  opacity: 0.4;
  width: 40px;
  height: 40px;
  border: 20px solid #444758;
}

.mouse-mid {
  display: none;
  width: 10px;
  height: 10px;
  background-color: black;
}

.mouse-guide {
  width: 5px;
  height: 5px;
  background-color: black;
}