* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  background-color: #1301FF;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}