body {
	overflow: hidden;
	background: #000;
}
svg {
	position: fixed;
	bottom: 140px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 210px;
	z-index: 2;
}
img {
	position: fixed;
	height: 500px;
	width: 500px;
	bottom: -34px;
	left: calc(50% - 7px);
	transform: translate(-50%, 0%) rotate(1deg);
}